header{
    .navbar-light{
        background-color: rgb(31, 48, 134);
            .navbar-nav{
            .nav-link{
                color: whitesmoke;
                font-size: 30px;
            }
        }
    } 
}   
